openapi: 3.1.0
info: 
    title: 'NoteTaker API'
    version: 1.0.0
servers:
  - url: 'http://localhost:3000'
paths: 

 /auth/signup:

    post:
      summary: Create user account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string }
                password: { type: string }
      responses:
        '201':
          description: Account created

/auth/login:
    post:
      summary: Login with credentials
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string }
                password: { type: string }
      responses:
        '200':
          description: Login successful